In [1]:
import pandas as pd

from sklearn.datasets import load_iris
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

In [2]:
dataframe = pd.read_csv("train.csv")
dataframe = dataframe[["Survived", "Pclass", "Sex", "Age", "SibSp", "Parch", "Fare", "Embarked"]]
dataframe = dataframe.dropna()

In [3]:
# 類別變數數值化
Sex = {"male":0,"female":1}
Embark = {"S":0,"C":1,"Q":2}

dataframe["Sex"] = dataframe["Sex"].apply(lambda x: Sex[x])
dataframe["Embarked"] = dataframe["Embarked"].apply(lambda x: Embark[x])

In [4]:
# 選出一些特徵
x = dataframe[["Pclass", "Sex", "Age", "SibSp", "Parch", "Fare", "Embarked"]]
y = dataframe["Survived"]

In [5]:
# 卡方分配
def selectKBest_selector(x, y, k):
    
    selector = SelectKBest(chi2, k=k)
    selector.fit(x, y)

    return x[x.columns[selector.get_support(indices=True)]]

In [6]:
# 選出卡方值前三高的特徵
new_data = selectKBest_selector(x, y, 3)

In [7]:
new_data

     Sex   Age     Fare
0      0  22.0   7.2500
1      1  38.0  71.2833
2      1  26.0   7.9250
3      1  35.0  53.1000
4      0  35.0   8.0500
..   ...   ...      ...
885    1  39.0  29.1250
886    0  27.0  13.0000
887    1  19.0  30.0000
889    0  26.0  30.0000
890    0  32.0   7.7500

[712 rows x 3 columns]